<div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div aria-live="polite">
                显示第 {{First()}} 条到 {{getCurrentDataCount()}} 条数据，共 {{dataCount}} 条数据  
                <a class="esf-cursor " ng-click="setSize(20,$event.target);" ng-class="{'high-light':size==20}">20</a>  |  
                <a class="esf-cursor" ng-class="{'high-light':size==50}" ng-click="setSize(50,$event.target);">50</a>  |  
                <a class="esf-cursor" ng-class="{'high-light':size==100}" ng-click="setSize(100,$event.target);">100</a>   |  
                <a class="esf-cursor" ng-class="{'high-light':size==-1}" ng-click="setSize(-1,$event.target);">全部</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div>
            <ul class="pagination pull-right">
                <li ng-class="{'disabled':currentIndex-1<1}">
                    <a href="javascript:;" ng-click="previous()" title="上一页"><span class="glyphicon glyphicon-chevron-left"></span></a>
                </li>
                <li ng-repeat="i in index" ng-class="{'active':i.key==currentIndex}">
                    <a href="javascript:;" ng-click="show(i.key)">{{i.key}}</a>
                </li>
                <li ng-class="{'disabled':currentIndex+1>pageCount}">
                    <a href="javascript:;" ng-click="next()"><span class="glyphicon glyphicon-chevron-right" title="下一页"></span></a>
                </li>
            </ul>
       </div>
    </div>