
@{
    ViewData["Title"] = "CommentManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top:70px;" id='commentManagement'>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>评论管理</span>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label></label>
                            <div class='col-xs-2'>
                                <input type='text' v-model="filter.Str" class="form-control" />
                            </div>
                            <div class="col-xs-2">
                                <button class="btn btn-primary" v-on:click='getCommentList()'>搜索</button>
                            </div>
                            <div>
                                <span v-show="filter.PosterId!=0" class="label label-info">显示评论者为{{choosedPerson}}的评论<i style="cursor:pointer" v-on:click="filter.PosterId=0;getCommentList()" class="glyphicon glyphicon-remove"></i></span>
                                <span v-show="filter.ArticleId!=0" class="label label-info">显示{{choosedArticle}}文章下的评论<i style="cursor:pointer" v-on:click="filter.ArticleId=0;getCommentList()" class="glyphicon glyphicon-remove"></i></span>
                            </div>
                        </div>
                        <div class="form-group">

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>评论</th>
                                        <th>评论者</th>
                                        <th>文章</th>
                                        <th>创建时间</th>
                                        <th style="width:10%;">状态</th>
                                        <th style="width:10%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for='x in commentList'>
                                        <td></td>
                                        <td>
                                            {{x.content}}
                                        </td>
                                        <td style="cursor:pointer" v-on:click="choosedPerson=x.guest.contactInfo;filter.PosterId=x.guest.id;getCommentList()">
                                            {{x.guest.contactInfo}}
                                        </td>
                                        <td style="cursor:pointer"  v-on:click="choosedArticle=x.article.title;filter.ArticleId=x.article.id;getCommentList()">
                                            {{x.article.title}}
                                        </td>
                                        <td>
                                            {{x.createTime}}
                                        </td>
                                        <td>
                                            <span v-show="!x.isEdit">{{x.status}}</span>
                                            <span v-show="x.isEdit">
                                                <select v-model="x.status" class="form-control">
                                                    <option value="4">不可见</option>
                                                    <option value="3">删除</option>
                                                    <option value="2">已发布</option>
                                                </select>
                                            </span>
                                            
                                        </td>
                                        <td>
                                            <span v-show="!x.isEdit">
                                                <a class="btn btn-default" v-on:click="x.isEdit=true"
                                                   style="padding: 2px 5px;width: 26px;">
                                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-default" style="padding: 2px 5px;width: 26px;">
                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                            <span v-show="x.isEdit">
                                                <a class="btn btn-default" v-on:click="changeStatus()"
                                                   style="padding: 2px 5px;width: 26px;color:green">
                                                    <i class="glyphicon glyphicon-ok " aria-hidden="true"></i>
                                                </a>
                                                <a class="btn btn-default" style="padding: 2px 5px;width: 26px;color:red">
                                                    <i class="glyphicon glyphicon-remove " aria-hidden="true"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div role="">
                            <div class="col-xs-6">
                                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                                    Showing {{First()}} to {{userLeave.length+(index.currentPage-1)*10}} of {{Table.dataCount}} entries
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                    <ul class="pagination pull-right">
                                        <li ng-class="index.prePage" ng-model="index.prePage"><a href="javascript:;" ng-click="getLeaveList(index.currentPage-1,Table.pageSize)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                                        <li v-for="i in index.all" ng-class="i.class" ng-model="i.class"><a href="javascript:;" ng-click="getLeaveList(i.key,Table.pageSize)">{{i.key}}</a></li>
                                        <li ng-class="index.nextPage" ng-model="index.nextPage"><a href="javascript:;" ng-click="getLeaveList(index.currentPage+1,Table.pageSize)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='~/js/vueJs/commentManagement.js'>
</script>