
@{
  ViewData["Title"] = "回收站";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>AAA</h2>
<app-root></app-root>
<script src="~/dist/AdminWeb/runtime.js"></script>
<script src="~/dist/AdminWeb/polyfills.js"></script>
<script src="~/dist/AdminWeb/styles.js"></script>
<script src="~/dist/AdminWeb/vendor.js"></script>
<script src="~/dist/AdminWeb/main.js"></script>
