<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]' style="overflow:inherit"><img src="{{user.headpic}}" style="width:60px;" />{{user.nickname}}</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/home"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> 主页
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/post"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-edit'></span> 写博客
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Fetch data
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/blogmanagement"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-folder-open'></span> 博客
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/commentmanagement"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> 评论
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a (click)='logout()'>
                  <span class='glyphicon glyphicon-log-out'></span> 注销
                </a>
              </li>
          </ul>
        </div>
    </div>
</div>
