@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Modernizr JS -->
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="/js/main.js"></script>
    <script src="~/js/sigeerUtility.js"></script>
    <script src="/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        .panel-heading {
            background-color:white!important;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-default  navbar-static-top">
        <div class="container-fluid">
            <div class="col-xs-2">

            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">首页</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">工具</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的其他站点<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="min-width:100%">
                            <li><a href="#">待定...</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="articleContent">
        <div class="sigeer-loader" v-show="pageLoad"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="row">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="bb">
                                            <h2 style="font-size: 42px;">{{model.title}}</h2>
                                            <small>{{model.createTime}}</small>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group" v-html="model.content">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="comment" class="panel panel-default">
                                    <div class="panel-heading">{{existComments.length}}条评论</div>
                                    <div class="panel-body">
                                        <div>
                                            <div v-for="x in existComments">
                                                <small>{{x.guest.ip}}&nbsp;({{x.createTime}})</small>
                                                <p>{{x.content}}</p>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>联系方式（邮箱或其他）：</label>
                                                <input type="text" class="form-control" v-model="commentModel.Email" placeholder="交易" />
                                            </div>

                                        </div>
                                        <textarea class="form-control" style="resize:none" v-model="commentModel.Comment"></textarea>
                                        <button class="btn btn-default" v-on:click="postComment" style="margin-left:90%">评论</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <ul>
                                        <li>1</li>
                                        <li>1</li>
                                        <li>1</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <ul>
                                        <li>1</li>
                                        <li>1</li>
                                        <li>1</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                </div>

            </div>

        </div>

    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
    <nav class="navbar navbar-default navbar-static-bottom">
        <div class="container">
            <div id="footer">

            </div>
        </div>
    </nav>
    <script>
        function getQueryStringByName(name) {
            var result = location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));
            if (result == null || result.length < 1) {
                return "";
            }
            return result[1];
        }
        $('#footer').html("&copy;" + new Date().getFullYear() + " - sigeer Powered By Asp.Net Core");
        var api = 'http://localhost:8082';
        var titleConten = new Vue({
            el: '#articleContent',
            data: {
                model: {},
                pageLoad: true,
                existComments: [],
                commentModel: { Email: '', Comment: '', AId: getQueryStringByName("AId") }
            },
            mounted() {
                this.initData();
            },
            methods: {
                initData: function () {
                    this.pageLoad = true;
                    //$(".sigeer-loader").fadeOut("slow");
                    var _self = this;
                    $.ajax({
                        url: api + '/api/Content/GetArticle?AId=' + getQueryStringByName("AId"),
                        method: 'get',
                        success: function (data, status) {
                            _self.pageLoad = false;
                            _self.model = data;
                            _self.getComment();
                        },
                        error: function () {
                            _self.pageLoad = false;
                        }
                    });
                },
                getComment: function () {
                    this.pageLoad = true;
                    var _self = this;
                    $.ajax({
                        url: api + '/api/Content/GetComment?AId=' + getQueryStringByName("AId"),
                        method: 'get',
                        success: function (data, status) {
                            _self.pageLoad = false;
                            _self.existComments = data;
                        },
                        error: function () {
                            _self.pageLoad = false;
                        }
                    });
                },
                postComment: function () {
                    if (!this.commentValid()) {
                        alert('别搞事');
                        return;
                    }
                    this.pageLoad = true;
                    var _self = this;
                    $.ajax({
                        url: api + '/api/Content/SendComment',
                        method: 'post',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify(_self.commentModel),
                        success: function (data, status) {
                            _self.pageLoad = false;
                            _self.getComment();
                        },
                        error: function () {
                            _self.pageLoad = false;
                        }
                    });
                },
                commentValid: function () {
                    var result = true;
                    if (String.isNullOrEmpty(this.commentModel.Comment)) {
                        result = false;
                    }
                    return result;
                }
            },
        });
    </script>
</body>
</html>

