@{
    ViewData["Title"] = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="articleContent">
    <div class="sigeer-loader" v-show="dataLoad"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="bb">
                                        <h2 style="font-size: 42px;">{{model.title}}</h2>
                                        <small>{{model.createTime}}</small>
                                    </div>
                                    <hr/>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group" v-html="model.content">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div id="comment" class="panel panel-default">
                                <div class="panel-heading">{{existComments.length}}条评论<hr/></div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div v-for="x in existComments">
                                            <small>{{x.guest.ip}}&nbsp;({{x.createTime}})</small>
                                            <p>{{x.content}}</p>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <label>联系方式（邮箱或其他）：</label>
                                                <input type="text" class="form-control" v-model="commentModel.Email" placeholder="交易" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" style="resize:none" v-model="commentModel.Comment"></textarea>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary col-md-2 col-md-offset-10" v-on:click="postComment">评论</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul>
                                    <li>1</li>
                                    <li>1</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul>
                                    <li>1</li>
                                    <li>1</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

            </div>

        </div>

    </div>
</div>
<script>
    var titleConten = new Vue({
        el: '#articleContent',
        data: {
            model: {},
            dataLoad: true,
            existComments: [],
            commentModel: { Email: '', Comment: '', AId: getQueryStringByName("AId") }
        },
        mounted() {
            this.initData();
        },
        methods: {
            initData: function () {
                this.dataLoad = true;
                //$(".sigeer-loader").fadeOut("slow");
                var _self = this;
                $.ajax({
                    url: apiUrl + '/api/Content/GetArticle?AId=' + getQueryStringByName("AId"),
                    method: 'get',
                    success: function (data, status) {
                        _self.dataLoad = false;
                        _self.model = data;
                        _self.getComment();
                    },
                    error: function () {
                        _self.dataLoad = false;
                    }
                });
            },
            getComment: function () {
                this.dataLoad = true;
                var _self = this;
                $.ajax({
                    url: apiUrl + '/api/Content/GetComment?AId=' + getQueryStringByName("AId"),
                    method: 'get',
                    success: function (data, status) {
                        _self.dataLoad = false;
                        _self.existComments = data.data;
                    },
                    error: function () {
                        _self.dataLoad = false;
                    }
                });
            },
            postComment: function () {
                if (!this.commentValid()) {
                    alert('别搞事');
                    return;
                }
                this.dataLoad = true;
                var _self = this;
                $.ajax({
                    url: apiUrl + '/api/Content/SendComment',
                    method: 'post',
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(_self.commentModel),
                    success: function (data, status) {
                        _self.dataLoad = false;
                        _self.getComment();
                    },
                    error: function () {
                        _self.dataLoad = false;
                    }
                });
            },
            commentValid: function () {
                var result = true;
                if (String.isNullOrEmpty(this.commentModel.Comment)) {
                    result = false;
                }
                return result;
            }
        },
    });
</script>

