@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="blogIndex">
    <div class="sigeer-loader" v-show="dataLoad"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="list-group">
                            <a v-bind:href="'/Home/Article/'+x.id" v-for="x in titleList" class="list-group-item">
                                <h2 class="list-group-item-heading" v-on:click="getArticle(x.id)">{{x.title}}</h2>
                                <p class="list-group-item-text">
                                    {{x.nohtml}}...
                                </p>
                                <p><span class="label label-primary">Primary</span></p>
                                <p class="list-group-item-text">
                                    {{x.createTime}}
                                    <span style='text-align:right'>
                                        浏览数:{{x.viewed}}
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img id="headPic" src='~/images/head.png' class="img-circle" width="60"></a>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <ul>
                                    <li>1</li>
                                    <li>1</li>
                                    <li>1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>
<script>
    var token = localStorage.getItem("token");
    var titleContent = new Vue({
        el: '#blogIndex',
        data: {
            titleList: [],
            dataLoad: true,
            index: 1,
            count: 10,
        },
        mounted() {
            this.initData();
            this.scrollBottem();
        },
        methods: {
            scrollBottem: function () {
                $(window).scroll(function (event) {
                    var wScrollY = window.scrollY; // 当前滚动条位置
                    var wInnerH = window.innerHeight; // 设备窗口的高度（不会变）
                    var bScrollH = document.body.scrollHeight; // 滚动条总高度
                    if (wScrollY + wInnerH >= bScrollH) {
                        titleContent.index += 1;
                        titleContent.initData();
                    }
                });
            },
            initData: function () {
                this.dataLoad = true;
                var _self = this;
                $.ajax({
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem("token")
                    },
                    url: apiUrl + '/blog/index?index=' + _self.index + '&count=' + _self.count,
                    method: 'get',
                    success: function (data, status) {
                        _self.dataLoad = false;
                        for (var i = 0; i < data.data.length; i++) {
                            _self.titleList.push(data.data[i]);
                        }
                    }
                });
            },
            getArticle: function (id) {
                //window.open('/Home/Article?AId=' + id);
                location.href = '/Home/Article/' + id;
            }
        },
    });
</script>

